
#map_canvas {float:left;width:350px;height:300px;border:1px solid #c5c4c6; background-color:#333;}
#overlaycontent {font-size:9px;color:#333;}
.mapHeader{color:#B9D432; font-size:11px;text-decoration:underline;font-weight:bold;margin:2px 0px;}